:root {
  // fonts
  --main-font: 'Inter-Variable', sans-serif;
  --accent-font: 'Inter-Variable', sans-serif;

  // weights
  --main-font-weight: 400;
  --main-font-bold-weight: 600;
  --accent-font-weight: 800;

  // spacing
  --section-gap: clamp(40px, 10vh, 120px);
  --card-gap: 2rem;
  --border-radius: 24px;

  // transitions
  --transition-speed: 0.6s;
  --transition-cubic: cubic-bezier(0.16, 1, 0.3, 1);

  // border
  --border-width: 1px;
}
